.Bussines .main-title {
    position: relative;
}
.Bussines .main-title h4 {
    position: relative;
    font-size: 27px !important;
    text-transform: capitalize !important;
}
.Bussines .main-title::after {
    content: "";
    background-color: #c00;
    position: absolute;
    top: 10;
    left: 15px;
    height: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 50px;
}

.Bussines img {
    cursor: pointer;
    object-fit: cover;
    height: 200px;
}
.Bussines h5:hover{
    color:#c00;
    cursor: pointer;
}