
.nav-item .icon{

    cursor: pointer;
    margin-left: 20px;
}
.navbar-main{

    border-bottom:1px solid rgb(212, 211, 211);
  
}
.navbar-main.navbar .navbar-brand{
    padding: 0 !important;
}
.navbar-main .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
}
.navbar-main .navbar-nav .nav-item .nav-link:hover,
.navbar-main .nav-item .icon:hover {
    color: #c00 !important;
}
form input {
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
form .form-control:focus {
    box-shadow: none !important;
}
